#main{
    text-align: center;
    width: 100%;
    padding-top: 200px;
}

#center-block{
    width: 400px;
    height: 250px;
    border: solid 1px orange;
    margin: 0 auto;
}

.form-control{
    margin: 40px 20px;
}

#submit{
    text-align: right;
}

input{
    font: 18px/20px arial, sans-serif;
    padding: 10px 5px;
}

input[type="submit"]{
    color: #fff;
    background: orange;
    border-radius: 5px;
    border: solid 1px #fff;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover{
    color: orange;
    background: #fff;
    border: solid 1px orange;
}
#message{
    word-wrap:break-word;
}